<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="testAppSetting1" value="test1"/>
    <add key="testAppSetting2" value="test2"/>

  </appSettings>
  <configSections>
    <sectionGroup name="sGroup1" type="string">
      <section name="sG1_s1" type="string"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>


</configuration>
