<!--BLD系统配置文件, 非专业人士请勿修改.-->
<!--Edit by lich @2019-6-16-->
<PowerPlant ID="随便" Name="吉林开元" LastUpdate="2019/6/16 20:35:38" Description="电厂信息. 例:吉林开元. PowerPlant是根节点, 每个程序必须有且只能有一个">
  <Server ID="随便" Name="五号机组BLD" Description="服务器主机信息. 例:五号机组BLD">
    <炉数 BoilerNumber="1" />
    <服务器 SupportServer="0" UDP="0" RemotePort="6803" RemoteHost="10.164.12.200" />
    <SerialPorts>
      <SerialPort PortName="COM2" BaudRate="19200" Parity="Even" DataBits="8" StopBits="1" Handshake="0" ReadTimeout="300" WriteTimeout="300" UnitID="1" DtuUsed="true" PortEnable="true" />
      <SerialPort PortName="COM1" BaudRate="19200" Parity="Even" DataBits="8" StopBits="1" Handshake="0" ReadTimeout="300" WriteTimeout="300" UnitID="9" DtuUsed="false" PortEnable="true" />
    </SerialPorts>
    <Boilders>
      <Boilder BoilerNo="1" Caption="壹号炉" 厂内编号="1">
        <报警开关量>TODO:暂缺</报警开关量>
        <清灰控制>TODO:暂缺</清灰控制>
        <管道数>32</管道数>
        <总因子>24</总因子>
        <流量因子>1</流量因子>
        <采样间隔>5</采样间隔>
        <泄漏报警延迟时间>1</泄漏报警延迟时间>
        <堵灰报警延迟时间>1</堵灰报警延迟时间>
        <超限报警开关>1</超限报警开关>
        <堵灰报警开关>1</堵灰报警开关>
        <故障报警开关>1</故障报警开关>
        <停炉报警开关>1</停炉报警开关>
        <线程休眠时间>990</线程休眠时间>
        <判断停炉流量标准>1</判断停炉流量标准>
        <数据源>s1</数据源>
        <sql表名编号>1</sql表名编号>
        <开始运行时间>2019-5-14 00:00:00</开始运行时间>
      </Boilder>
      <Boilder BoilerNo="2" Caption="贰号炉" 厂内编号="2">
        <报警开关量>TODO:暂缺</报警开关量>
        <清灰控制>TODO:暂缺</清灰控制>
        <管道数>32</管道数>
        <总因子>24</总因子>
        <流量因子>1</流量因子>
        <采样间隔>5</采样间隔>
        <泄漏报警延迟时间>1</泄漏报警延迟时间>
        <堵灰报警延迟时间>1</堵灰报警延迟时间>
        <超限报警开关>1</超限报警开关>
        <堵灰报警开关>1</堵灰报警开关>
        <故障报警开关>1</故障报警开关>
        <停炉报警开关>1</停炉报警开关>
        <线程休眠时间>990</线程休眠时间>
        <判断停炉流量标准>1</判断停炉流量标准>
        <数据源>s1</数据源>
        <sql表名编号>1</sql表名编号>
        <开始运行时间>2019-5-14 00:00:00</开始运行时间>
      </Boilder>
    </Boilders>
    <CaptureCards>
      <!--CaptureCardID 采集卡ID, Driver 驱动. 驱动目前支持: AC6623, AC6623SIM, PC6311, PC6311SIM.-->
      <CaptureCard CaptureCardID="1" Driver="AC6623">
        <Sensors>
          <!--ChannelNumber 通道序号, BoilderID 锅炉, BaseNoise 基础噪音因子, Uplimit 上限, Downlimit 下限, FFT 警戒限-->
          <Sensor ChannelNumber="1" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="2.2" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="2" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="3" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="4" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="5" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="6" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="7" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="8" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="9" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="10" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="11" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="12" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="13" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="14" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="15" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="16" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="17" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="18" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="19" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="20" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="21" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="22" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="23" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="24" BoilderID="1" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="25" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="26" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="27" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="28" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="29" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="30" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="31" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="32" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
        </Sensors>
      </CaptureCard>

      <CaptureCard CaptureCardID="2" Driver="AC6623">
        <Sensors>
          <!--ChannelNumber 通道序号, BoilderID 锅炉, BaseNoise 基础噪音因子, Uplimit 上限, Downlimit 下限, FFT 警戒限-->
          <Sensor ChannelNumber="41" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="2.2" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="42" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="43" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="44" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="45" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="46" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="47" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="48" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="49" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
          <Sensor ChannelNumber="50" BoilderID="2" Multiplicative="24" BaseNoise="0" Uplimit="5" Downlimit="0.5" FFT="0" />
        </Sensors>
      </CaptureCard>
    </CaptureCards>
  </Server>
</PowerPlant>